{% extends 'base.html' %}

{% block title %}Formulários Padrão | {% endblock %}

{% block main %}
<br>
<br>
<br>
<br>
<div class="title">
<h1>Formulários Padrão</h1>
</div>
<div class="div_select_list">
<select name="departamentos" id="departamentos" onchange="filtraFormularios()" class="form-select">
    <option disabled selected="selected">Selecione um departamento</option>
    {% for departamento in departamentos %}
    <option value="{{ departamento.id }}"> {{ departamento.departamento }}</option>
    {% endfor %}
</select>
</div>
<br>
<table class="table table-striped table-dark">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Descrição</th>
          <th scope="col">Data Publicação</th>
        </tr>
      </thead>
    <tbody id="tabela">
    <!--
{% for formulario in object_list %}
        <tr class="linha_coluna" onclick="window.location='{{ formulario.arquivo.url }}'">
            <th scope="row"><a href="{{ formulario.arquivo.url }}" class="link">{{ formulario }}</a></th>
            <td>{{ formulario.departamento }}</td>
            <td>{{ formulario.descricao }}</td>
            <td>{{ formulario.data_publicacao }}</td>
        </tr>
{% endfor %}
-->
    </tbody>
</table>
<a href="javascript:history.back()" class="icon-block">
    <i class="far fa-arrow-alt-circle-left fa-2x"></i>
</a>
{% endblock %}
