{% extends 'base.html' %}
{% load static %}


{% block main %}
<br>
<br>
<br>
<br>
<div class="title">
<h1>Menu</h1>
</div>
<div id="container" class="container">
  <div class="row">
    <div class="col-sm">
        <br>
          <div id="ninth" class="buttonBox">
            <button onclick="window.location='{% url 'formularios' %}'">Formulários Padrão</button>
          </div>
        <br>
          <div id="ninth" class="buttonBox">
            <button onclick="window.location='{% url 'pop' %}'">Procedimentos Operacionais Padrão</button>
          </div>
        <br>
          <div id="ninth" class="buttonBox">
            <button onclick="window.location='{% url 'alvaras_licenciamento' %}'">Alvarás e Licenças de Funcionamento</button>
          </div>
    </div>
    <div class="col-sm">
        <br>
          <div id="ninth" class="buttonBox">
            <button onclick="">Código de Ética</button>
          </div>
        <br>
          <div id="ninth" class="buttonBox">
            <button onclick="">Suporte TI</button>
          </div>
        <br>
          <div id="ninth" class="buttonBox">
            <button onclick="">Diversos</button>
          </div>
        <br>
    </div>
  </div>
</div>




{% endblock %}