{% extends 'base.html' %}
{% load static %}


{% block main %}
<br>
<br>
<br>
<br>
<div class="title">
<h1>Suporte TI</h1>
</div>
<div id="container" class="container">
  <div class="row">
    <div class="col-sm">
        <br>
          <div id="ninth" class="buttonBox">
            <button onclick="">Núcleo Sistemas Empresariais</button>
          </div>
        <br>
          <div id="ninth" class="buttonBox">
            <button onclick="">Núcleo Infraestrutura</button>
          </div>
        <br>
          <div id="ninth" class="buttonBox">
            <button onclick="window.location='{% url 'utilitarios' %}'">Utilitários</button>
          </div>
    </div>
  </div>
    <br>
    <a href="javascript:history.back()" class="icon-block">
        <i class="far fa-arrow-alt-circle-left fa-2x"></i>
    </a>
</div>




{% endblock %}